body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #333;
}

header{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem 15%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    gap: 24px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

nav a:hover {
    text-decoration: underline;
    color: #ff4757;
}

main {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

main > h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-bottom: 0;
}

main > p {
    margin-top: 0;
}

.best_seller{

}

.best_seller > h2 {
    text-transform: capitalize;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 2s steps(40, end) infinite
}

@keyframes typing{
    from {width: 0;}
    to{ width:100%; }
}

/* Product */

.products {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    padding: 20px 10px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.products::-webkit-scrollbar {
    display:none;
}

.product {
    height: 300px;
    flex: 0 0 300px;
    padding: 15px;
    scroll-snap-align: center;
}

.product img {
    width: 100vw;
    height: 80%;
    object-fit: cober;
    object-position: center;
}

/* About */